html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
#container{
    display: flex;
    border: 5px black groove;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    background:rgba(63, 184, 191, 0.99);
    font-size: 30px;
    font-weight: bold;
}
#myNav{
    color: white;
}
.fa {
    height: 20px;
    width: 20px;
    color:rgba(63, 184, 191, 0.99);
    margin: 30px;
}
#pic {
    background-image: url("../images/chicago.jpg");
    background-color: #cccccc;
    height: 400px;
    width: 500px;
   }
#buttonWrapper{
    display: flex;
    align-items: stretch;
    font-size: 24px;
    border: 5px black solid;
}
input[type="text"]
{
    font-size:20px;
}


.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

#map {
    height: 100%;
}