html, body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif
}
#container{
    display: flex;
    border: 5px black groove;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 600px;
    background:darkslategrey;
    font-size: 30px;
    font-weight: bold;
}
#language{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    background-color: red;
    width: 20px;
    height: 20px;
}
#dropwdown{
    display: flex;
    justify-content: space-between;
}
#dropdownWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    width: 90%;
}
i{
    height: 50px;
    width: 100px;
}
#go2{
    font-size: 40px;
    font-weight: bold;
    color: white;
}
#myNav{
    color: white;
}
#alarm{
    color: white;
    height:15px;
    width: 20px;
}
.fa {
    height: 20px;
    width: 20px;
    color:darkslategray;
    margin: 30px;
}
#where2go{
    border: 5px grey solid;
    color: darkslategray;
}
#submit{
    background-color: lightgrey;
    border-radius: 10%;
    color: darkslategray;
}
.submit{
    background-color: lightgrey;
    border-radius: 10%;
    color: darkslategray;
}
input[type="text"] {
    width:300px;
    color: darkslategray;
}
#pic {
    background-image: url("../images/chicago.jpg");
    background-color: #cccccc;
    height: 400px;
    width: 500px;
   }
#buttonWrapper{
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-size: 24px;
    width: 75%;
    top: 5%;
}
input[type="text"]
{
    font-size:20px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    color: darkslategray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .dropbtn {
    background-color: darkslategray;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropbutton:hover
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color:darkslategray;}

  #map {
    height: 100%;
}

.drone {
  height: 50px;
  transition: background-color 1s, border-radius 1s;
}
.drone:hover {
  background-color: red;
  border-radius: 5px;
}
.drone-alert {
  background-color: red;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.drone-alert img {
  border-radius: 5px;
}